<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-10">
        <h3 class="panel-title"> <%= @store.name %> </h3>
      </div>
      <div class="col-xs-2">
        <form class="" action="/delete_store/<%= @store.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" name="button" class="btn btn-danger">Delete Store</button>
        </form>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="well">
          <form class="" action="/update_name/store/<%= @store.id %>" method="post">
            <div class="form-group">
              <label for="update_name">Change Store Name:</label>
              <input type="hidden" name="_method" value="patch">
              <input type="text" name="update_name" class="form-control">
              <button type="submit" name="button" class="btn">Update Store Name</button>
            </div>
          </form>
          <form class="" action="/add_brand/<%= @store.id %>" method="post">
            <div class="form-group">
              <label for="new-brand">New Shoe Brand:</label>
              <input type="text" name="name" class="form-control">
              <button type="submit" name="button" class="btn">Add Shoe Brand</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Current Brands</h4>
          </div>
          <div class="panel-body">
            <% if @store.brands.any? %>
            <% @store.brands.each do |brand| %>
            <ul>
              <li> <%= brand.name %> </li>
                <ul>
                  <li>Whole Sale: <%= brand.price %> / <%= @store.name %> Price: N/A </li>
                </ul>
            </ul>
            <% end %>
            <% else %>
            <p>Currently no brands in stock.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
